{% extends 'index.html' %}

{% block title %}CDN报告{% endblock %}

{% block page-content %}
<style type="text/css">
 .btn_hidden{
	display:none;
	visibility:hidden;
}
 .span50{
    width:100%;
    min-width:100%;
    min-height:75%;
    height:75%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
    $('#chart').click(function(){
        var site= $('#site').children('option:selected').val();
        var days= $('#days').children('option:selected').val();
     $.getJSON("/getDays", {"site":site,"days":days}, function(json){
        //console.log(json);
        //json = window.eval(json);
            window.drag3Fun(json.pv,"pv","访问流量",json.label,"    GB",site,days);
            window.drag3Fun(json.hit,"hit","命中率",json.label,"    %",site,days);
            window.drag3Fun(json.bad,"bad","加速效果不佳比例",json.label,"    %",site,days);
            //window.drag2Fun(json.hit,"hit","回源率",json.label,"    %",site);
            //window.drag2Fun(json.bad,"bad","加速效果不佳比例",json.label,"    %",site);
            $('#detail').empty();
            $("#cdn").empty();
            
        
    });
    });
});
window.PieFun = function(data,id,text1){
    var chart = new iChart.Pie2D({
        render : id,
        data: data,
        title : {
            text : text1,
            color : '#3e576f'
        },
        footnote : {
            text : '',
            color : '#486c8f',
            fontsize : 11,
            padding : '0 38'
        },
        sub_option : {
            label : {
                background_color:null,
                sign:false,//设置禁用label的小图标
                padding:'0 4',
                border:{
                    enable:false,
                    color:'#666666'
                },
                fontsize:11,
                fontweight:600,
                color : '#4572a7'
            },
            border : {
                width : 2,
                color : '#ffffff'
            }
        },
        //animation : true,//开启过渡动画
        //animation_duration:800,//800ms完成动画
        shadow : true,
        shadow_blur : 6,
        shadow_color : '#aaaaaa',
        shadow_offsetx : 0,
        shadow_offsety : 0,
        background_color:'#fefefe',
        offsetx:-60,//设置向x轴负方向偏移位置60px
        offset_angle:-120,//逆时针偏移120度
        showpercent:true,
        decimalsnum:2,
        width : 800,
        height : 400,
        radius:120
    });
    
    chart.draw();
};
window.dragFun = function(data,id,text1,unit){
var chart = new iChart.Column2D({
                render : id,
                data : data,
                title : {
                    text : text1,
                    color : '#3e576f'
                },
               // subtitle : {
               //     text : '',
               //     color : '#6d869f'
               // },
                footnote : {
                    text : 'jiuxian.com',
                    color : '#909090',
                    fontsize : 11,
                    padding : '0 38'
                },
                width : 800,
                height : 400,
                label : {
                    fontsize:11,
                    color : '#666666'
                },
                //animation : true,//开启过渡动画
                //animation_duration:800,//800ms完成动画
                shadow : true,
                shadow_blur : 2,
                shadow_color : '#aaaaaa',
                shadow_offsetx : 1,
                shadow_offsety : 0,
                column_width : 62,
                sub_option : {
                    listeners : {
                        parseText : function(r, t) {
                            return t + unit;
                        }
                    },
                    label : {
                        fontsize:11,
                        fontweight:600,
                        color : '#4572a7'
                    },
                    border : {
                        width : 2,
                        //radius : '5 5 0 0',//上圆角设置
                        color : '#ffffff'
                    }
                },
                coordinate : {
                    background_color : null,
                    grid_color : '#c0c0c0',
                    width : 680,
                    axis : {
                        color : '#c0d0e0',
                        width : [0, 0, 1, 0]
                    },
                }
            });
            chart.draw();
        };
window.drag1Fun = function(data,id,text1,unit,site,cdn){
var chart = new iChart.Column2D({
                render : id,
                data : data,
                title : {
                    text : text1,
                    color : '#3e576f'
                },
               // subtitle : {
               //     text : '',
               //     color : '#6d869f'
               // },
                footnote : {
                    text : cdn,
                    color : '#909090',
                    fontsize : 11,
                    padding : '0 38'
                },
                width : 800,
                height : 400,
                //animation : true,//开启过渡动画
                //animation_duration:800,//800ms完成动画
                shadow : true,
                shadow_blur : 2,
                shadow_color : '#aaaaaa',
                shadow_offsetx : 1,
                shadow_offsety : 0,
                column_width : 62,
                   label : {
                    fontsize:11,
                    textAlign:'right',
                    //textBaseline:'middle',
                    rotate:-30,
                    color : '#666666'
                },
                tip:{
                    enable:true,
                listeners:{
                    //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
                    parseText:function(tip,name,value,text,i){
                        return name+":"+value+ unit;
                    }
                }
                },
                sub_option : {
                    label :false,
                    listeners : {
                        parseText : function(r, t) {
                            return t + unit;
                        },
                        click:function(r,e,m){
                            //alert(r.get('name')+' '+r.get('value'));
                            //var site = "www"
                            //var cdn = "lx"
                            var site= $('#site').children('option:selected').val();
                            var cdn = $("#cdn").text();
                            $.getJSON("/getDay", {"site":site,"cdn":cdn,"day":r.get('name')}, function(json){
                            //console.log(json);
                            //json = window.eval(json);
                            //window.dragFun(json.pv,"pv","访问流量","G",cdn);
                            //window.PieFun(json.hit,"hit","命中率","%",cdn);
                            //window.dragFun(json.bad,"bad","加速效果不佳比例","%",cdn);
                            $('#hit').empty();
                            $('#bad').empty();
                            $('#pv').empty();
                            $('#detail').html(json.detail.replace(/\n/g,"<br/>"));
                            });
                        }
                    },
                    border : {
                        width : 2,
                        //radius : '5 5 0 0',//上圆角设置
                        color : '#ffffff'
                    }
                },
                coordinate : {
                    background_color : null,
                    grid_color : '#c0c0c0',
                    width : 680,
                    height : 260,
                    axis : {
                        color : '#c0d0e0',
                        width : [0, 0, 1, 0]
                    },
                }
            });
            chart.draw();
        };
window.drag2Fun = function(data,id,text1,labels,unit,site,days){
    var chart = new iChart.ColumnMulti3D({
        render : id,
        data: data,
        labels:labels,
        title : {
            text : text1,
            color : '#3e576f'
        },
        footnote : {
            text : '',
            color : '#909090',
            fontsize : 11,
            padding : '0 44'
        },
        width : 800,
        height : 400,
        background_color : '#ffffff',
        legend:{
            enable:true,
            background_color : null,
            align : 'center',
            valign : 'bottom',
            row:1,
            column:'max',
            border : {
                enable : false
            }
        },
        column_width : 8,//柱形宽度
        zScale:8,//z轴深度倍数
        xAngle : 50,
        bottom_scale:1.1,
        label:{
            color:'#4c4f48'
        },
        sub_option:{
            label :false,
                    listeners : {
                        click:function(r,e,m){
                            $.getJSON("/getCdn", {"site":site,"cdn":r.get('name'),"days":days}, function(json){
                            //console.log(json);
                            //json = window.eval(json);
                            window.drag1Fun(json.pv,"pv","访问流量","G");
                            window.drag1Fun(json.hit,"hit","命中率","%");
                            window.drag1Fun(json.bad,"bad","加速效果不佳比例","%");
                            $('#detail').empty();
                            });
                        }
                    },
        },
        tip:{
            enable :true
        },
        text_space : 16,//坐标系下方的label距离坐标系的距离。
        coordinate:{
            background_color : '#d7d7d5',
            grid_color : '#a4a4a2',
            color_factor : 0.24,
            board_deep:10,
            offsety:-10,
            pedestal_height:10,
            left_board:false,//取消左侧面板
            width:620,
            height:240,
        }
    });
    chart.plugin(new iChart.Custom({
        drawFn:function(){
            //计算位置
            var coo = chart.getCoordinate(),
                x = coo.get('originx'),
                y = coo.get('originy');
            //在左上侧的位置，渲染一个单位的文字
            chart.target.textAlign('start')
            .textBaseline('bottom')
            .textFont('600 11px Verdana')
            .fillText(unit,x-40,y-28,false,'#6d869f');
            
        }
                }));
    chart.draw();
};
window.drag3Fun = function(data,id,text1,labels,unit,site,days){
    var chart = new iChart.ColumnMulti2D({
            render : id,
            data: data,
            labels:labels,
            title : text1,
            footnote : '',
            width : 800,
            height : 400,
            background_color : '#ffffff',
            sub_option:{
                label : false,
                    listeners : {
                        click:function(r,e,m){
                            if (r.get('name') =="网宿"){cdn = 'ws'}
                            if (r.get('name') =="蓝汛"){cdn = 'lx'}
                            if (r.get('name') =="搜狐"){cdn = 'sh'}
                            $.getJSON("/getCdn", {"site":site,"cdn":cdn,"days":days}, function(json){
                            //console.log(json);
                            //json = window.eval(json);
                            var obj = $("#cdn");
                            obj.text(json.cdn);
                            window.drag1Fun(json.pv,"pv","访问流量","G");
                            window.drag1Fun(json.hit,"hit","命中率","%");
                            window.drag1Fun(json.bad,"bad","加速效果不佳比例","%");
                            $('#detail').empty();
                            });
                        }
                    },
            },
            legend:{
                enable:true,
                background_color : null,
                //align : 'center',
                //valign : 'bottom',
                //row:1,
                //column:'max',
                border : {
                    enable : false
                }
            },
            label : {
                fontsize:11,
                textAlign:'right',
                //textBaseline:'middle',
                rotate:-30,
                color : '#666666'
            },
            tip:{
                enable :true,
                listeners:{
                    //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
                    parseText:function(tip,name,value,text,i){
                        return name+":"+value+ unit;
                    }
                }
            },
            coordinate:{
                background_color : '#f1f1f1',
                scale:[{
                     position:'left',   
                     start_scale:0,
                }],
                width:680,
                height:260
            }
    });
    chart.draw();
};
</script>
<h3>cdn日志分析报告</h3>
说明：查看指定日期详细报告请单击图表中的柱状图<br>
因网宿暂时未提供原始日志，无法统计命中率，图中显示为命中率0%,请忽视该结果<br>
<hr style="border:0;background-color:#ff0000;height:1px;">
<select name="site" id="site" class="input">
<option>选择域名</option>
{% for site in sites %}
<option>{{ site }}</option>
{% endfor %}
</select>
<select name="days" id="days" class="input">
<option value=''>选择时间段</option>
<option value='2'>最近2天</option>
<option value='7'>最近7天</option>
<option value='15'>最近15天</option>
<option value='30'>最近30天</option>
</select>
<button type="submit" id='chart' class="btn btn-primary btn-sm hostadd_button">查询</button>
<br>
<div id='pv'></div>
<br>
<div id='hit'></div>
<br>
<div id='bad'></div>
<br>
<div id='detail'></div>
<br>
<span id="cdn"></span>
<br><br>
{% endblock %}
