{% extends 'index.html' %}

{% block title %}Dblog日志{% endblock %}

{% block page-content %}
{% load staticfiles %}
<link href="/static/loading/loading.css" type="text/css"  rel="stylesheet"/>
<script src="{% static "jquery.js" %}"></script>
<script src="/static/loading/loading-min.js"></script>
<script src="/static/loading/jquery.bgiframe.min.js"></script>
<style type="text/css">
 .btn_hidden{
	display:none;
	visibility:hidden;
}
 .span50{
    width:100%;
    min-width:100%;
    min-height:75%;
    height:75%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
        var loading = new ol.loading({id:"loading"});
        var isLoad = true;
		$('#dbname').change(function(){
            clearTimeout(window.pronumtimeout);
			var dbname = $(this).children('option:selected').val();
			//alert(name);
			$.getJSON("/getDbip", {"dbname":dbname}, function(json){ 
                var obj = $("#data");
                obj.val('');
				$("#ip").empty();
                $("#ip").append("<option>选择IP</option>");
				$.each(json,function(i,el)
				{
					$('#ip').append("<option value='" +el + "'>" + el + "</option>");
				});
			});
		});

        $('#ip').change(function(){
            clearTimeout(window.pronumtimeout);
            var dbname= $('#dbname').children('option:selected').val();
            var ip= $('#ip').children('option:selected').val();
            $.getJSON("/getDbfile", {"dbname":dbname,"ip":ip}, function(json){ 
            $('#file').empty();
            $("#file").append("<option>选择文件</option>");
            var obj = $("#data");
            obj.val('');
            $.each(json,function(i,el){
                $('#file').append("<option value='" +el + "'>" + el + "</option>");
            });
        });
        });

        window.pronumtimeout = null;
		$('#showlog').click(function(){
            if(window.pronumtimeout){
                clearTimeout(window.pronumtimeout);
            }
            isLoad = true;
            var dbname= $('#dbname').children('option:selected').val();
            var ip= $('#ip').children('option:selected').val();
            var file= $('#file').children('option:selected').val();
            var num= $('#num').val();
            var top = $("#data").scrollTop();
			$.getJSON("/showDblog", {"dbname":dbname,"ip":ip,"file":file,"num":num}, function(json){
                var obj = $("#data");
                obj.val('');
                var text = obj.val();
                $.each(json,function(i,el){
                    text = text+'\n'+el;
				});
                obj.val(text);
                obj.scrollTop(top);
                if (file.lastIndexOf(".gz") == -1 && isLoad){window.pronumtimeout = setTimeout(function(){
                $("#showlog").click();
                },2000);
                };
			});
		});
        $('#down').click(function(){
                isLoad = false;
                clearTimeout(window.pronumtimeout);
                var dbname= $('#dbname').children('option:selected').val();
                var ip= $('#ip').children('option:selected').val();
                var file= $('#file').children('option:selected').val();
                var num= $('#num').val();
                var rnum= Math.floor(Math.random()*10);
                loading.show();
                $.getJSON("/downDblog", {"dbname":dbname,"ip":ip,"file":file,"num":num,"rnum":rnum}, function(json){
                   // console.log(json);
                    loading.hide();
                    if (json != 'false'){
                    window.location.href="http://192.168.5.30:8009/" + rnum + "_" + file;
                    }else{
                    alert('由于下载的文件大于20M，无法下载，请联系管理员，谢谢！！！');
                    }
                });
        });
        $('#stoplog').click(function(){
                isLoad = false;
                clearTimeout(window.pronumtimeout);
        });

});

</script>
<div id="loading">
<h3>Dblog日志</h3>
说明：行数默认150行，600行以上可能会响应很慢或者不显示，建议下载日志文件在本地查看<br>
日志是实时刷新的，每2秒钟刷新最后N行<br>
<hr style="border:0;background-color:#ff0000;height:1px;">
<select name="name" id="dbname" class="input-small" value={{ name }}>
<option>选择数据库</option>
{% for dbname in dbnames %}
<option>{{ dbname }}</option>
{% endfor %}
</select>
<select name="ip" id="ip" class="input" value={{ ip }}>
<option>选择IP</option>
{% for ip in ips %}
<option>{{ ip }}</option>
{% endfor %}
</select>
<select name="file" id="file" class="input" value={{ file }}>
<option>选择文件</option>
{% for file in files %}
<option>{{ file }}</option>
{% endfor %}
</select>
最后行数:<input type="text" id='num' class="input-small" name='num' value={{ num }}>
<button type="submit" name="showlog" id='showlog' class="btn btn-primary btn-sm hostadd_button">查看错误日志</button>
<button type="submit" name="stoplog" id='stoplog' class="btn btn-primary btn-sm hostadd_button">停止刷新日志</button>
<button type="submit" name="down" id='down' class="btn btn-primary btn-sm hostadd_button">下载日志</button>
<br>
<textarea rows=25 class="span50" id="data">{{ datas }}</textarea><br>
</div>
{% endblock %}
