{% extends 'index.html' %}

{% block title %}down war包{% endblock %}

{% block page-content %}
<style type="text/css">
 .btn_hidden{
	display:none;
	visibility:hidden;
}
 .span50{
    width:100%;
    min-width:100%;
    min-height:75%;
    height:75%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
        var loading = new ol.loading({id:"loading"});
		$('#project_name').change(function(){
			var name = $(this).children('option:selected').val();
			//alert(name);
			$.getJSON("/getIdc", {"name":name}, function(json){ 
                var obj = $("#data");
                obj.val('');
				$("#idc").empty();
                $("#idc").append("<option>选择机房</option>");
                $("#ip").append("<option>选择IP</option>");
                $("#file").append("<option>选择文件</option>");
				$.each(json,function(i,el)
				{
					$('#idc').append("<option value='" +el + "'>" + el + "</option>");
				});
			});
		});

        $('#down').click(function(){
                var name= $('#project_name').children('option:selected').val();
                var idc= $('#idc').children('option:selected').val();
                loading.show();
                $.getJSON("/war", {"name":name,"idc":idc}, function(json){
                   // console.log(json);
                    loading.hide();
                    if (json != 'false'){
                    if(idc != "ceshi"){
                    window.location.href="http://192.168.10.249:8008/" + json;
                    }else{
                    window.location.href="http://192.168.6.30:8008/" + json;
                    }
                    }else{
                    alert('由于下载的war包与环境不一致，无法下载，请联系管理员，谢谢!');
                    }
                });
        });
        $('#jardown').click(function(){
                var jarname= $('#jarname').children('option:selected').val();
                var idc1= $('#idc1').children('option:selected').val();
                loading.show();
                $.getJSON("/jar", {"jarname":jarname,"idc1":idc1}, function(json){
                   // console.log(json);
                    loading.hide();
                    if (json != 'false'){
                    window.location.href="http://192.168.6.30:8008/" + json;
                    }else{
                    alert('未找到文件，无法下载，请联系管理员，谢谢！！！');
                    }
                });
        });

});

</script>
<div id="loading">
<h3>下载war包</h3>
说明：war包是从发布服务器192.168.10.249的/data/update/backup/bak_online_war/www_after/目录下最新的war包下载<br>
下载前先和各环境的war包做MD5校验，确保下载的包为最新的war包<br>
<select name="name" id="project_name" class="input">
<option>选择工程名</option>
{% for name in names %}
<option>{{ name }}</option>
{% endfor %}
</select>
<select name="idc" id="idc" class="input-small">
<option>选择机房</option>
</select>
<button type="submit" name="down" id='down' class="btn btn-primary btn-sm hostadd_button">下载war</button>
<hr style="border:0;background-color:#ff0000;height:1px;">
<h3>下载公共jar包</h3>
说明：公共jar是从各环境服务器(ROOT)的公共jar目录/data/web/java_jar/下载<br>
<select name="jarname" id="jarname" class="input">
<option>选择jar包</option>
<option>JXConfig.jar</option>
</select>
<select name="idc1" id="idc1" class="input-small">
<option>选择机房</option>
<option>ceshi</option>
<option>PRE</option>
<option>TJ</option>
<option>B28</option>
</select>
<button type="submit" name="jardown" id='jardown' class="btn btn-primary btn-sm hostadd_button">下载jar</button>
</div>
{% endblock %}
