{% extends 'index.html' %}

{% block title %}服务器hosts{% endblock %}

{% block page-content %}
<style type="text/css">
 .btn_hidden{
	display:none;
	visibility:hidden;
}
 .span50{
    width:100%;
    min-width:100%;
    min-height:75%;
    height:75%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
        $('#idc').change(function(){
            var idc= $('#idc').children('option:selected').val();
            var username = $("#username").text();
            $("#ret").empty();
            $.getJSON("/showhosts", {"idc":idc}, function(json){
                var obj = $("#data");
                obj.val(json);
            });
        });
        $('#edit').click(function(){
            var idc = $("#idc").children('option:selected').val();
            var data = $("#data").val();
            $.post("/hostedit", {"idc":idc,"data":data}, function(json){
                var obj = $("#ret");
                obj.text(json);
            });
        });
        $('#sync').click(function(){
            if(window.confirm('确认推送吗？')){
            var username = $("#username").text();
            var idc = $("#idc").children('option:selected').val();
            //var data = $("#data").val();
            $.post("/hostsync", {"idc":idc}, function(json){
                $('#ret').html(json.replace(/\n/g,"<br/>"))
                
            });
        }
        });
});
</script>
<h3>服务器hosts</h3>
<select name="idc" id="idc" class="input-small">
<option>选择机房</option>
{% for idc in idcs %}
<option>{{ idc }}</option>
{% endfor %}
</select>
{% if show %}<button id="edit" type="submit" class="btn btn-primary btn-sm hostadd_button">保存修改</button>
<button id="sync" type="submit" class="btn btn-primary btn-sm hostadd_button">推送hosts</button><br>{% endif %}
<span id="ret"></span>
<textarea rows=25 class="span50" id="data"></textarea><br>
</div>
{% endblock %}
