{% extends 'index.html' %}

{% block title %}查看hosts{% endblock %}

{% block page-content %}
{% load staticfiles %}
<link href="/static/loading/loading.css" type="text/css"  rel="stylesheet"/>
<script src="{% static "jquery.js" %}"></script>
<script src="/static/loading/loading-min.js"></script>
<script src="/static/loading/jquery.bgiframe.min.js"></script>
<style type="text/css">
 .btn_hidden{
	display:none;
	visibility:hidden;
}
 .span50{
    width:100%;
    min-width:100%;
    min-height:75%;
    height:75%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
        $("#edit").css("display","none");
        $('#idc').change(function(){
            var idc= $('#idc').children('option:selected').val();
            var username = $("#username").text();
            if(username == 'root'){
                $("#edit").css("display","inline");
            }else if(username == "test" && idc == "ceshi"){
                $("#edit").css("display","inline");
            }else{
                $("#edit").css("display","none");
            }
            $("#ret").empty();
            $.getJSON("/showhosts", {"idc":idc}, function(json){
                var obj = $("#data");
                obj.val('');
                var text = obj.val();
                $.each(json,function(i,el){
                    text = text+el;
                });
                obj.val(text);
            });
        });
        $('#edit').click(function(){
            var idc = $("#idc").children('option:selected').val();
            var data = $("#data").val();
            $.post("/hostedit", {"idc":idc,"data":data}, function(json){
                var obj = $("#ret");
                obj.text(json);
            });
        });
        $('#sync').click(function(){
            var username = $("#username").text();
            var idc = $("#idc").children('option:selected').val();
            //var data = $("#data").val();
            $.post("/hostsync", {"idc":idc}, function(json){
                if (json != ''){
                    $('#ret').html(json.replace(/\n/g,"<br/>"))
                    }else{
                    alert('无操作权限，请联系管理员，谢谢！！！');
                    }
            });
        });
});
</script>
<h3>查看hosts</h3>
<hr style="border:0;background-color:#ff0000;height:1px;">
<select name="idc" id="idc" class="input-small" value={{ idc }}>
<option>选择机房</option>
{% for idc in idcs %}
<option>{{ idc }}</option>
{% endfor %}
</select>
<button id="sync" type="submit" class="btn btn-primary btn-sm hostadd_button">推送hosts</button>
<br>
<div id="ret"></div><br>
<textarea rows=25 class="span50" id="data">{{ datas }}</textarea><br>
<button id="edit" type="submit" class="btn btn-primary btn-sm hostadd_button">保存修改</button>
</div>
{% endblock %}
