{% extends 'index.html' %}

{% block title %}zookeeper{% endblock %}

{% block page-content %}
<style type="text/css">
 .btn_hidden{
    display:none;
    visibility:hidden;
}
 .span50{
    width:100%;
    min-width:100%;
    min-height:100%;
    height:100%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
        $("#edit").css("display","none");
        $('#idc').change(function(){
            var idc = $(this).children('option:selected').val();
            var username = $("#username").text();
            $("#file").val(0); 
            $("#edit").css("display","none");
            $("#ret").empty();
            $.getJSON("/zookeepergetip", {"idc":idc}, function(json){ 
                var obj = $("#data");
                obj.val('');
                $("#ip").empty();
                $("#ip").append("<option>选择IP</option>");
                $.each(json,function(i,el)
                {
                    $('#ip').append("<option value='" +el + "'>" + el + "</option>");
                });
            });
        });
        $('#ip').change(function(){
            var idc = $("#idc").children('option:selected').val();
            var ip = $(this).children('option:selected').val();
            $("#edit").css("display","none");
            //alert(idc);
            $.getJSON("/zookeepergetfile", {"idc":idc,"ip":ip}, function(json){ 
                var obj = $("#data");
                obj.val('');
                $("#file").empty();
                $("#ret").empty();
                $("#file").append("<option>选择文件</option>");
                $.each(json,function(i,el)
                {
                    $('#file').append("<option value='" +el + "'>" + el + "</option>");
                });
            });
        });
        $('#file').change(function(){
            $("#edit").css("display","none");
            var obj = $("#data");
            obj.val('');
        });
        $('#view').click(function(){
            var idc = $("#idc").children('option:selected').val();
            var ip = $("#ip").children('option:selected').val();
            var file = $("#file").children('option:selected').val();
            var username = $("#username").text();
            //alert(idc);
            $("#edit").css("display","inline");
            $.getJSON("/zookeeperview", {"idc":idc,"ip":ip,"file":file}, function(json){ 
                var obj = $("#data");
                obj.val(json);
                $("#ret").empty();
            });
        });
        $('#edit').click(function(){
            var idc = $("#idc").children('option:selected').val();
            var ip = $("#ip").children('option:selected').val();
            var file = $("#file").children('option:selected').val();
            var data = $("#data").val();
            $.post("/zookeeperedit", {"idc":idc,"ip":ip,"file":file,"data":data}, function(json){
                var obj = $("#ret");
                obj.text(json);
            });
        });
        $('#status').click(function(){
            var idc = $("#idc").children('option:selected').val();
            var ip = $("#ip").children('option:selected').val();
            $("#edit").css("display","none");
            $.post("/zookeeperstatus", {"idc":idc,"ip":ip}, function(json){
                var obj = $("#data");
                obj.val('');
                $("#ret").empty();
                var text = obj.val();
                obj.val($.trim(json));
            });
        });
        $('#restart').click(function(){
            if(window.confirm('确认重启吗？')){
            var idc = $("#idc").children('option:selected').val();
            var ip = $("#ip").children('option:selected').val();
            $("#edit").css("display","none");
            $.post("/zookeeperrestart", {"idc":idc,"ip":ip}, function(json){
                var obj = $("#data");
                $("#ret").empty();
                obj.val(json);
            });
        }
        });
});
</script>
<h3>zookeeper配置文件查看</h3>
<select name="idc" id="idc" class="input-small">
<option>选择机房</option>
{% for idc in idcs %}
<option>{{ idc }}</option>
{% endfor %}
</select>
<select name="ip" id="ip" class="input-small">
<option>选择IP</option>
</select>
<select name="file" id="file" class="input-small">
<option>选择文件</option>
</select>
<button id="view" type="submit" class="btn btn-primary btn-sm hostadd_button">查看文件</button>
<button id='status' type="submit" class="btn btn-primary btn-sm hostadd_button">查看zookeeper状态</button>
{% if show %}<button id='restart' type="submit" class="btn btn-primary btn-sm hostadd_button">重启zookeeper</button><br>{% endif %}
<textarea rows=25 class="span50" id="data"></textarea><br>
{% if show %}<button id="edit" type="submit" class="btn btn-primary btn-sm hostadd_button">保存修改</button>{% endif %}
<span id="ret"></span><br>
{% endblock %}
